# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
keystone-env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode / IDE settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store